.searchCity{
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.searchInput{
  width: 300px;
  padding: 24px;
  border: 1px solid black;
  border-radius: 8px;
}
.searchInput1{
  width: 120px;
  padding: 24px;
  border: 1px solid black;
  border-radius: 8px;
}
.todayTemp{
  margin: 0;
  padding-top: 24px;
  color : #FFFFFF;
  font-size: 24px;
}
.searchWithDays{
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 50px;
  align-items: center;
  padding: 40px 0px;
}